.env
.envrc
node_modules/
coverage/

# Nuxt related
.nuxt
dist/

# Service worker
src/static/sw.js

# Data related
src/static/data/buildings.json
src/static/data/spaces.json
src/static/data/infopage.json
src/static/data/feedbackpage.json
src/static/data/onboarding.json
