.button {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--text-color);
}

.button:hover,
.button:focus {
    border: 1px solid var(--text-color);
}

.button--header {
    margin: 5px 0;
    font-size: var(--font-size-small);
    text-transform: uppercase;
    color: var(--background-color);
}

.button--header:hover,
.button--header:focus {
    border: 1px solid var(--background-color);
}

@media (min-width: 700px) {
    .button--header {
        margin: 10px 0;
    }
}

.button--header__icon {
    display: block;
    margin: 0 auto 3px auto;
    height: 21px;
    width: 21px;
}

@media (min-width: 700px) {
    .button--header__icon {
        height: 25px;
        width: 25px;
    }
}

.button--primary {
  padding: var(--spacing-half);
  background: var(--brand-primary-color);
  text-align: center;
  color: var(--background-color);
}

.button--primary:hover,
.button--primary:focus {
  border: 1px solid var(--brand-primary-color-dark);
  background: var(--brand-primary-color-dark);
}

.button--secondary {
  padding: var(--spacing-half);
  text-align: center;
  color: var(--brand-primary-color);
  border: 1px solid var(--brand-primary-color);
}

.button--secondary:hover,
.button--secondary:focus {
  border: 1px solid var(--brand-primary-color-dark);
  color: var(--brand-primary-color-dark);
}
