@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url('/fonts/roboto-light.woff2') format('woff2'),
         url('/fonts/roboto-light.woff') format('woff');
    font-display: fallback;
}
  
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url('/fonts/roboto-medium.woff2') format('woff2'),
         url('/fonts/roboto-medium.woff') format('woff');
    font-display: fallback;
}
  