*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.default-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.default-layout__header {
    flex: 0 0 auto;
}

.default-layout__main {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.default-layout__map {
    flex: 1 1 100%;
}

.default-layout__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--layer--overlay);
    overflow: auto;
    background-color: var(--neutral-color);
}

.default-layout__info--space-detail {
  padding: var(--spacing-default);
}

@media (max-width: 699px) {
    .default-layout__info--space-detail {
        top: auto;
        bottom: var(--spacing-default);
        left: var(--spacing-default);
        right: var(--spacing-default);
        padding: 0;
        width: auto;
        height: auto;
        background: none;
        overflow: visible;
    }
}

@media (min-width: 700px) {
    .default-layout__info {
        flex: 0 0 auto;
        width: var(--column-width-desktop);
        height: calc(100vh - var(--header-height-desktop));
    }

    .default-layout__map.default-layout__map {
        margin-left: var(--column-width-desktop);
        width: calc(100% - var(--column-width-desktop));
    }

    .mobile-only {
      display: none!important;
    }
}
