body {
    font-family: var(--font-body);
    font-size: var(--font-size-default);
    color: var(--text-color);
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 300;
}