body {
    font-family: var(--font-body);
    font-size: var(--font-size-default);
    color: var(--text-color);
    line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: var(--font-heading);
    font-weight: 300;
}

h3,
.h3 {
  margin-bottom: var(--spacing-quarter);
  font-size: var(--font-size-default);
  font-weight: 500;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover,
a:focus {
    color: var(--brand-primary-color-dark);
}
